.job-info {
    width: 90%;
    height: 320px;
    border: 2px solid gray;
    border-radius: 7px;
    padding: 20px 30px;
    background-color: rgba(220, 20, 60, 0.073);
}

.job-info img {
    width: 30%;
}

.btn-detail {
    color: white;
    background-color: crimson;
    padding: 9px 15px;
}

.flex {
    display: flex;
    gap: 20px;
}

.flex button {
    background-color: white;
    border: 1px solid crimson;
    padding: 4px 15px;
}