.category {
    border: 2px solid gray;
    border-radius: 7px;
    width: 200px;
    height: 100px;
    padding: 30px;
    background-color: rgba(220, 20, 60, 0.073);
}

.category-info img {
    width: 10%;

}